<template>
  <q-page class="flex flex-center">
    <h4>Крутая информаия о продукте</h4> <br>
    <h5>

    </h5>

    <img alt="Quasar logo" src="~assets/quasar-logo-full.svg">
  </q-page>
</template>

<style>
</style>

<script>
export default {
  name: 'PageIndex',
  data () {
    return {
    }
  }
}
</script>
