<template>
  <q-page padding>
    <!-- content -->

    <h1>test user: {{$route.params.school_url}} - {{$route.params.user_id}}</h1>
  </q-page>
</template>

<script>
export default {
  // name: 'PageName',
}
</script>

<style>
</style>
