<template>
  <div id="q-app">
    <router-view />
  </div>
</template>

<script>

export default {
  name: 'App',
  data () {
    return {
      message: 'Привет, Vue!'
    }
  }
  // created: function () {
  //   // `this` указывает на экземпляр vm
  //   console.log('Значение message: ' + this.message)
  // },
}

</script>

<style>
</style>
