<template>
  <q-layout> <!-- Be sure to play with the Layout demo on docs -->

    <!-- (Optional) The Header -->
    <q-layout-header>
      <q-toolbar>
        <q-toolbar-title>
          Header

          <span slot="subtitle"> subtitle  -  {{ this.jsondata.name }}</span>

        <!-- <template  slot="subtitle" v-for="(name, key) in names">
          <span v-bind:key="key"> {{key}} - {{ name }}</span>
        </template> -->

        </q-toolbar-title>
        <q-btn color="primary" label="Регистрация" @click="modalAuth = true"/>
        <q-btn color="primary" label="Вход" @click="modalLog = true"/>
        <q-btn color="primary" label="Вход GOOGLE" @click="googleAuth "/>
        <q-btn color="primary" label="тест" @click="cons"/>
        <q-btn color="primary" label="тест 2" @click="getData"/>
        <q-btn color="primary" label="выход" @click="logOut"/>

        <q-btn
          color="primary"
          v-bind:label="this.$root.message"
        />
      <q-item>
        <q-item-side v-bind:avatar="user.img"/>
        <q-item-main>
          <q-item-title label>{{ user.name }}</q-item-title>
          <q-item-title sublabel> - {{ getLocalStorage('userName') }}  - {{ this.$q.localStorage.get.item('userName') }} - </q-item-title>
        </q-item-main>
      </q-item>
      </q-toolbar>
    </q-layout-header>

    <!-- (Optional) The Footer -->
    <q-layout-footer>
    </q-layout-footer>

    <!-- (Optional) A Drawer; you can add one more with side="right" or change this one's side -->
    <q-layout-drawer>
    </q-layout-drawer>

    <q-page-container>
      <!-- This is where pages get injected -->
      <router-view />
    </q-page-container>

    <!-- модалки -->
    <q-modal v-model="modalLog">
      <div class="q-pa-md">
        <h4>Basic Modal log</h4>

        <q-field
          :count="16"
          label="Почта или телефон"
        >
          <q-input type="text" max-length="16"/>
        </q-field>
        <q-field
          :count="16"
          label="Пароль"
        >
          <q-input type="password" max-length="16"/>
        </q-field>
        <q-btn
          color="primary"
          @click="modalLog = false"
          label="Войти"
        />
        <q-btn
          color="primary"
          @click="modalLog = false"
          label="Отмена"
        />
      </div>
    </q-modal>
    <q-modal v-model="modalAuth">
      <form class="q-pa-md">
        <h4>Basic Modal auth</h4>
        <q-field
          label="ФИО"
        >
          <q-input type="text"/>
        </q-field>
        <q-field
          :count="16"
          label="Почта или телефон"
        >
          <q-input type="text" />
        </q-field>
        <q-field
          :count="16"
          label="Пароль"
        >
          <q-input type="password" max-length="16"/>
        </q-field>
        <q-btn
          color="primary"
          @click="modalAuth = false"
          label="Войти"
        />
        <q-btn
          color="primary"
          @click="modalAuth = false"
          label="Отмена"
        />
      </form>
    </q-modal>
    <q-modal v-model="modalLogGoogle">
      <div class="q-pa-md">
        <h4>Basic Modal log</h4>
        <q-field
          :count="16"
          label="Почта или телефон"
        >
          <q-input type="text" max-length="16"/>
        </q-field>
        <q-field
          :count="16"
          label="Пароль"
        >
          <q-input type="password" max-length="16"/>
        </q-field>
        <q-btn
          color="primary"
          @click="modalLogGoogle = false"
          label="Войти"
        />
        <q-btn
          color="primary"
          @click="modalLogGoogle = false"
          label="Отмена"
        />
      </div>
    </q-modal>
  </q-layout>
</template>

<script>
import router from '../router'
// this.$q.LocalStorage.set('userName', '')
// this.$q.LocalStorage.set('userImg', '')
// this.$q.LocalStorage.set('userEmail', '')
// this.$q.LocalStorage.set('userId', '')
import { LocalStorage } from 'quasar'
// LocalStorage.set('userName', 'test')
// let LangWitchRef = this.$DB.ref('lang-witch')

import { namesRef, db } from '../statics/FirebaseConnect'
import firebase from 'FireBase'
// let LangWitchRef = this.$firebase
let jsondb = {}
function onSignGoogleAuth (result) {
  console.log(result)
}
// db.ref().once('value', function (snap) {
//   jsondb = snap.val()
// })
let jsonuser = {
  name: 'qwer',
  id: '',
  img: '',
  Email: ''
}
// let LangWitchRef = DB.ref('lang-witch/name').on('value', function (dataSnapshot) { console.log('error') })
export default {
  // name: 'LayoutName',
  data () {
    return {
      modalLog: false,
      modalAuth: false,
      modalLogGoogle: false,
      jsondata: jsondb,
      user: jsonuser
    }
  },
  firebase: {
    names: namesRef,
    allData: db
  },
  created: function () {
    // `this` указывает на экземпляр vm
    // console.log('Значение a: ' + this.a)
    firebase.auth().onAuthStateChanged(function (user) {
      if (user) {
        // User is signed in.
        console.log('пользователь авторезирован')
        console.log(user)
        router.push({ path: `/school123/${user.uid}` }) // -> /user/123 /${user.uid}
      } else {
        // No user is signed in.
        console.log('пользователь не авторезирован')
      }
    })
  },
  methods: {
    cons: function () {
      console.log('--------------------')
      console.log(this.names)
      console.log('--------------------')
      for (let key in this.names) {
        console.log(' - ' + key + ' - ' + this.names[key])
      }
      console.log('--------------------')
      this.names.forEach(function (item, i) {
        console.log(' - ' + i + ' : ' + item['.key'] + ' - ' + item['.value'])
      })
      console.log('--------------------')

      // db.ref().once('value', function (snap) {
      //   console.log(JSON.stringify(snap.val()))
      //   snap.val()
      //   // for (var key in snap.val()) {
      //   //   this.jsondata[key] = snap.val()[key]
      //   // }
      // })
      jsondb.name = 'Code With Art'
      console.log(jsondb)
    },
    getData: function () {
      db.ref().once('value', function (snap) {
        // jsondb.name = snap.val().name
        // jsondb = snap.val()
        for (var key in snap.val()) {
          jsondb[key] = snap.val()[key]
        }
        console.log(jsondb)
      })
    },
    // авторизаця гугл
    googleAuth: function () {
      var provider = new firebase.auth.GoogleAuthProvider()
      // fba.auth().signInWithRedirect(provider)
      /* fba.auth().signInWithPopup(provider).then(function (result) {
        console.log(result)
        console.log(result.user.displayName)
        console.log(result.user.email)
        console.log(result.user.uid)
        jsonuser.name = result.user.displayName
        jsonuser.img = result.user.photoURL
        jsonuser.email = result.user.email
        jsonuser.id = result.user.uid
        // this.user.img = Object.assign(result.user.displayName)
        // this.user.email = Object.assign(result.user.photoURL)
        // this.user.name = Object.assign(result.user.email)
        // this.user.id = Object.assign(result.user.uid)

        LocalStorage.set('userName', jsonuser.name)
        console.log('localStorage - ' + LocalStorage.get.item('userName'))
        console.log(jsonuser.name)
        console.log(jsonuser.img)
        console.log(jsonuser.email)
        console.log(jsonuser.id)

        // this.$q.LocalStorage.set('userName', jsonuser.name)
        // this.$q.LocalStorage.set('userImg', jsonuser.img)
        // this.$q.LocalStorage.set('userEmail', jsonuser.email)
        // this.$q.LocalStorage.set('userId', jsonuser.id)

        // This gives you a Google Access Token. You can use it to access the Google API.
        // var token = result.credential.accessToken;
        // The signed-in user info.
        // var user = result.user;
      }).catch(function (error) {
        console.log(error)
      }) */
      firebase.auth().setPersistence(firebase.auth.Auth.Persistence.LOCAL).then(function () {
        // Existing and future Auth states are now persisted in the current
        // session only. Closing the window would clear any existing state even
        // if a user forgets to sign out.
        // ...
        // New sign-in will be persisted with session persistence.
        return firebase.auth().signInWithPopup(provider).then(function (result) { onSignGoogleAuth(result) })
      }).catch(function (error) {
        // Handle Errors here.
        // var errorCode = error.code;
        // var errorMessage = error.message;
        console.log(error.message)
      })
    },
    logOut: function () {
      console.log('выход')
      firebase.auth().signOut().then(function () {
        // Sign-out successful.
        // LocalStorage.set('userName', '')
        console.log('localStorage - ' + LocalStorage.get.item('userName'))
      }).catch(function (error) {
        // An error happened.
        console.log(error)
      })
    }
    // getLocalStorage: function (key) {
    //   return LocalStorage.get.item(key)
    // }
  }
}
</script>

<style>
</style>
